body{
    font-family: Arial;
    background:#111827;
}

.container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

input, select, button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:none;
    font-size:16px;
}

button{
    background:#2e8b57;
    color:white;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

button:hover{
    background:#256f46;
}